<div class="footer mt-2" style="height:150px;background-color:rgb(0, 0, 0); padding: 20px;">
    <div class="container">
        <div class="color row">
            <div class="col-md-3">
                <h4>Address 1</h4>
                <address>Address: 22 Mayajaal Multicomplex, OMR Nation, ON 
                    <p>PostalCode: Z120Z420</p></address>
            </div>
            <div class="col-md-3">
                <h4>Address 2</h4>
                <address>Address: 5090 Vetri Multi Complex , ECR Nation, ON 
                    <p>PostalCode: Z420Z220</p></address>
            </div>
            <div class="col-md-3">
                <h4>Address 3</h4>
                <address>Address: 42020 DMAX multi Complex , KKR NAtion, ON 
                   <p>PostalCode: Z420Z320</p> </address>
            </div>
            <div class="col-md-3">
                <h4>Social Media</h4>
                 Instragram: CorpsMovie.me
                 Facebook: CorpsMovie@Me
            </div>
        </div>
    </div>
</div>


